.about-wrapper {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 20px;
    background: radial-gradient(circle, #2F3E46, #0A0A0A);
    color: #ccc; /* Light text color */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the wrapper takes full viewport height */
    box-sizing: border-box; /* Include padding in width calculations */
}

.about-content {
    width: 80%; /* Adjust width as needed */
    max-width: 800px; /* Limit maximum width */
    overflow: auto; /* Enable scrolling if content overflows */
    background-size: cover;
    background-position: center;
    padding: 20px; /* Padding inside the content area */
    color: #E0E0E0; /* Light text color for content */
    display: flex; /* Use flexbox for content alignment */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: flex-start; /* Align content to the start */
    box-sizing: border-box; /* Include padding in width calculations */
}

.about-content h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    padding-left: 30px;
    box-sizing: border-box; /* Include padding in width calculations */
}

.about-content p {
    font-size: 1.4em;
    margin-bottom: 20px;
    padding-left: 30px;
    box-sizing: border-box; /* Include padding in width calculations */
}

@media screen and (max-width: 1024px) {
    .about-content {
        width: 90%; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        width: 75%;
    }
}

@media screen and (max-width: 425px) {
    .about-content {
        height: auto; /* Allow height to adjust for content */
        width: 100%;
    }
}
