.skills-wrapper {
    background: radial-gradient(circle, #2F3E46, #0A0A0A);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    box-sizing: border-box; /* Include padding in height calculations */
    overflow-y: hidden;
}

.skills-container {
    text-align: center;
    max-width: 800px;
}

.skills-container h1 {
    color: #cecece;
    margin-bottom: 20px;
    font-size: 22px;
    border: 2px solid #cecece; /* Add border properties */
    border-radius: 8px;
    padding: 5px 65px; /* Optional: Add padding to create space around the text */
    display: inline-block; /* Ensure the border wraps tightly around the text */
}

.skills-category {
    margin-bottom: 40px;
}

.skills-category h2 {
    color: #cecece;
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.skills-category ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-category ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-category ul li .icon {
    width: 50px;
    height: 50px;
}

.skills-category ul li .blackIcon {
    width: 50px;
    height: 50px;
    filter: invert(97%) sepia(0%) saturate(39%) hue-rotate(239deg) brightness(84%) contrast(98%);
}

.skills-category ul li .icon svg {
    margin-bottom: 5px; /* Adjust icon bottom margin as needed */
}

.skills-category ul li span {
    color: #cecece;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 1440px){
    
}

@media screen and (max-width: 425px) {
    .skills-wrapper {
        overflow-y: auto;
    }

    .skills-category ul {
        grid-template-columns: repeat(2, 1fr);
    }
}