.projects-wrapper {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #2F3E46, #0A0A0A); /* Radial gradient background */
    color: #ccc; /* Light text color */
    min-height: 100vh; /* Ensure the wrapper stretches to at least the viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the top with some padding */
    padding-top: 50px; /* Add top padding */
}

/* Main Content Area */
.main-content {
    margin-left: 10%;
    padding-right: 10%; /* Add right padding */
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: flex-start; /* Start from the beginning */
    align-items: flex-start; /* Align items to the start */
}

.projects-container {
    width: 100%; /* Full width of the main content area */
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: flex-start; /* Align items to the left */
    padding: 20px; /* Add padding to the container */
}

.card {
    flex: 0 0 calc(33.333% - 20px); /* 3 cards per row with some margin */
    margin: 10px; /* Space between cards */
    color: white; /* Text color */
    padding: 20px; /* Padding inside the card */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

/* Adjust for smaller screens */
@media screen and (max-width: 1024px) {
    .main-content {
        margin-left: 15%;
    }

    .card {
        flex: 0 0 calc(50% - 20px); /* 2 cards per row */
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 20%;
        padding-right: 5%; /* Adjust right padding */
    }
    .card {
        flex: 0 0 calc(50% - 20px); /* 2 cards per row */
    }
}

@media screen and (max-width: 425px) {
    .main-content {
        margin-left: 0;
        padding-right: 0; /* Remove right padding */
    }
    .card {
        flex: 0 0 calc(100% - 20px); /* 1 card per row */
    }
}
